services:
  app:
    build: .
    depends_on:
      db:
        condition: service_healthy
        restart: true
    environment:
      ASPNETCORE_ENVIRONMENT: Development
    ports:
      - "5000:80"

  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: "2Secure*Password2"
      MSSQL_PID: "Developer"
    ports:
      - "1433:1433"
    volumes:
      - mssql-data:/var/opt/mssql
    healthcheck:
      test: /opt/mssql-tools18/bin/sqlcmd -U sa -P "2Secure*Password2" -C -Q "SELECT 1" -b -o /dev/null
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s

volumes:
  mssql-data:
